.main_form input{
    margin-bottom: 10px;
}

.id_action{
    background-color: red;
    padding: 5px;
}
.id_stock_action{
    background-color: red;
    padding: 5px;
}

#rcorners1 {
    border-radius: 25px;
    background: #8AC007;
    padding: 20px;
    height: 80px;
    text-align: center;
    margin-bottom: 20px;

}

.bookOption{
    float: right;
}

.bookNames{
    font-size: 40px;
    font-weight: bolder;
}

.book_container {
    width: 500px;
    height: 70px;
    text-align: center;
    margin-bottom: 20px;
}

.book_info {
    border: 1px solid red;
    width: 300px;
    float: left;
    height: 100%;
}

.book_option_update {
    width: 100px;
    background: #8AC007;
    float: left;
    height: 100%;

}

.book_option_delete {
    width: 100px;
    background: red;
    float: left;
    height: 100%;
}

.ffdetails{
    width: 85px;
}
.page-footer{
    position: fixed;
    bottom: 0;
}